.logo{
    padding: 0 100px;
    
}
.logo img{
    height: 60px;
    width: 60px;        
}
nav{
    display: flex;
    padding: 10px 25px;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    float: right;
    
}
ul li {
    list-style: none;   
    display: inline-block; 
    margin: 0 5px;
}